<html>
    <head>
        
        <title>Welcome to HitWalker2</title>
        <link href="{{prog_type}}/static/network/css/bootstrap.min.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
        <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{prog_type}}/HitWalker2">HitWalker2</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="disabled"><a href="{{prog_type}}/HitWalker2">Select Sample</a></li>
                <li class="disabled"><a href="{{prog_type}}/HitWalker2/table" style="pointer-events:none">Select Variants</a></li>
                <li class="disabled"><a href="{{prog_type}}/HitWalker2/network" style="pointer-events:none">Visualize and Query</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Hello {{username}}</p></li>
                <li><a href="{{prog_type}}/HitWalker2/logout">logout</a></li>
            </ul>
        </div>
        </div>
        <!--not optimal, maybe place errors near appropriate fields-->
        {% if form.errors %}
            {% for field in form.visible_fields %}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    
            {% endfor %}
        {% endif %}
        
        <form class="form-horizontal" role="form" method="post" action="{{prog_type}}/HitWalker2/password/">
            {% csrf_token %}
            
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <p class="lead">Password Change</p>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}" class="col-sm-2 control-label">{{ form.new_password1.label_tag }}</label>
                    <div class="col-sm-10">
                        {{ form.new_password1 }}
                    </div>
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}" class="col-sm-2 control-label">{{ form.new_password2.label_tag }}</label>
                    <div class="col-sm-10">
                        {{ form.new_password2 }}
                    </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Ok</button>
                    <a href="{{prog_type}}/HitWalker2/" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    
    </body>
</html>