<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>HitWalker2 Javascript Tests</title>
<link rel="stylesheet" href="/static/network/css/qunit-1.14.0.css">
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="/static/network/javascript/qunit-1.14.0.js"></script>
<script src="/static/network/javascript/d3.v3/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/network/javascript/filter.js"></script>

<script>
    
    var filter_list;
    var filter_defaults;
    
    var filter_num = 0;
    var cur_group = 0;
    var parent_group = 0;
    var comp_dict = d3.map({'&lt;':'<', '&gt;':'>', '=':'=', '<':'<', '>':'>'})
    var bad_value = [];
    
    test("filter insertion", function()
         {
            filter_list = d3.map({'fields':{
                                'Cons_cat':{'type':'character', 'range':['Synonymous', 'NonSynon.', 'Other'], 'var_name':'Cons_cat', 'name':'Consequence', 'required':{'from':'IMPACTS'}},
                                'genotype_quality': {'type':'numeric', 'range':[0,100], 'name':'Genotype Quality', 'var_name':'genotype_quality', 'required':{'from':'DNA_DIFFERENCE'}},
                                'in_1kg':{'type':'character', 'range':['True', 'False'], 'name':'In 1000 genomes','var_name':'in_1kg','required':{'from':'Variation'}},
                                'in_dbsnp':{'type':'character', 'range':['True', 'False'], 'name':'In dbSNP','var_name':'in_dbsnp', 'required':{'from':'Variation'}}
                            },
                            'parameters':{
                                'zscore':{'type':'numeric', 'default':-2,'range':[-100, 0], 'name':'siRNA Zscore'},
                                'gene_score':{'type':'numeric', 'default':0, 'range':[-100,100], 'name':'Gene Score'},
                                'string_conf':{'type':'numeric', 'default':.4, 'range':[0, 1], 'name':'STRING Confidence'},
                                'res_prob':{'type':'numeric', 'default':.3, 'range':[0,1], 'name':'Restart Probability'},
                                'max_iter':{'type':'numeric', 'default':100, 'range':[0, 10000], 'name':'Max Iterations'},
                                'conv_thresh':{'type':'numeric', 'default':1e-10, 'range':[0,1], 'name':'Convergence Threshold'}
                            }});
            filter_defaults = [[[{'filter':'Cons_cat', 'default':'NonSynon.'},    
                                    {'filter':'genotype_quality', 'comparison':'>', 'default':40, 'logical':'AND'}]],
                                [[{'filter':'in_1kg', 'default':'False', 'logical':'AND'},
                                    {'filter':'in_dbsnp', 'default':'False', 'logical':'AND'}]]];
            
            make_default_filters();
           
            var sel = document.getElementById("main_div_0");
            
            //should look like:
                //main_div_0
                    //a label with innerHTMl consequence
                    //a select tag named parent.0.group.0.type.Cons_cat.num.0
                        //with three options specified by range above
            
            //logical_div_1
                //outer div
                    //button named as specified logical
                
         })
</script>

<div id="variant_parameters">
    <div id="filter_main"></div>
</div>

</div>
</body>
</html>
