import(methods)
import(Biobase)
import(reshape2)
import(igraph)
import(rjson)

exportClasses(DrugMatrix, CCLEMaf, HW2exprSet, NeoData, HwHit)
exportMethods('addSamples<-', populate, configure, fromSample, toGene)
export(readMAF.ccle, DrugMatrix, makeHW2Config, HW2exprSet, compute.graph.structure, Subject, load.neo4j)
