           .MetaNode{
             stroke:Black;
             fill-opacity:0;
           }
          
          .link{
            stroke: Grey;
          }
          
          .STRING{
            stroke: PowderBlue;
          }
          
           .Expression_Collected{
             stroke:Tomato;
             stroke-dasharray:5,5;
           }
          
          .Observed_HighExpression{
             stroke:Tomato;
          }
          
          .Observed_GeneScore{
            stroke: Red;
          }
          
          .Possible_GeneScore{
           stroke: Red;
           stroke-dasharray:5,5;
          }
          
          .Observed_siRNA{
            stroke: Gold;
          }
          .Possible_siRNA{
           stroke: Gold;
           stroke-dasharray:5,5;
          }
          
          .Ranked_Variants{
            stroke: Blue;
          }
          
          .Observed_Variants{
            stroke: DarkBlue;
          }
          
          .legend_link {
                fill: none;
                stroke: #ccc;
                stroke-width: 1.5;
              }
              
           .BorderRect{
                fill:White;
                fill-opacity: 0;
                stroke:#e3e3e3;
           }
            
           .BorderSelected{
                stroke:#444444;
           }
          
          .Unknown{
            stroke: Grey;
          }
          
          .Unselected{
            opacity: .3
          }
          
          .link{
                fill:none;
            }
            
            .bar {
                fill: steelblue;
            }
            
            .bar.highlight{
                fill: brown;
              }
          
          .plot.text{
           visibility: hidden;
          }
          
          .axis path,
          .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
          }
          
          .x.axis path {
                display: none;
          }

          .plot.text.highlight{
            fill: brown;
            visibility: visible;
          }

          .default1 {
            fill: #9467bd;
          }
          .default2 {
            fill: #98df8a;
          }
          .default3 {
            fill: #8c6d31;
          }
          .default4 {
            fill: #f7b6d2;
          }
          .default5 {
            fill: #DA7B00;
          }
          .default6 {
            fill: #17becf;
          }
          .default7 {
            fill: #bd9e39;
          }
          .default8 {
            fill: #393b79;
          }
          .default9 {
            fill: #dbdb8d;
          }
          .default10 {
            fill: #C62F6B;
          }
          .default11 {
            fill: #C3FF80;
          }
          .default12 {
            fill: #7b4173;
          }
          .default13 {
            fill: #EDDBB8;
          }
          .default14 {
            fill: #c5b0d5;
          }
          .default15 {
            fill: #FFC480;
          }
          .default16 {
            fill: #FFFC06;
          }
          .default17 {
            fill: #636B05;
          }
          .default18 {
            fill: #E680FF;
          }
          .default19 {
            fill: #3EB96B;
          }
          .default20 {
            fill: #c49c94;
          }